*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
input{
	border: none;
	font-size: 20px;
}
.title{
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.name{
	margin-top: 2px;
}
.description{
	font-size: 10px;
	margin-left: 22px;
	margin-top: 5px;
	margin: 5px 0 5px 22px;
}
.arrows{
	width: 12px;
	margin-right: 10px;
}
.descInput{
	border: none;e
	font-size: 10px;
	height: 20px;
	margin-left: 10px;
}
.fade-enter {
    opacity: 0;
    transform:   translate(50px,0);
    transform: translate3d(0,-10px,0);
}
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease;
}
.fade-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0, 0, 0.320, 1), linear;
}
.fade-leave.fade-leave-active {
	opacity: 0;
	transform:   translate(50px,0);
	transform: translate3d(0,-1px,0);
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}